
header {
    display: flex;
    justify-content: space-between;
}

.topRightNavImages {
    height: 15px;
    width: 15px;
}

#topLeftHeader {
    display: inline-block;
    margin: 0;

}

#topLeftHeaderPic {
    float: left;
}

#topHrImage {
    background-image: url("./assests/hr-img.png");
    background-repeat: repeat-x;
}

#bodyHeader {
    display: flex;
    justify-content: space-between;
    
}
.smallText
    {
        font-size: 10px;
    }